<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Servlet_calculator</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServletAdd</servlet-name>
    <servlet-class>c3.ServletAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAdd</servlet-name>
    <url-pattern>/ServletAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletSub</servlet-name>
    <servlet-class>c3.ServletSub</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSub</servlet-name>
    <url-pattern>/ServletSub</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletMul</servlet-name>
    <servlet-class>c3.ServletMul</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMul</servlet-name>
    <url-pattern>/ServletMul</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletDiv</servlet-name>
    <servlet-class>c3.ServletDiv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDiv</servlet-name>
    <url-pattern>/ServletDiv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayServlet</servlet-name>
    <servlet-class>c3.DisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayServlet</servlet-name>
    <url-pattern>/DisplayServlet</url-pattern>
  </servlet-mapping>
</web-app>